<?xml version="1.0" encoding="UTF-8"?>

<cardsconfig>
    <card name="GemXpresso211" defaultImpl="fr.xlim.ssd.opal.library.commands.GemXpresso211Commands">
        <isdAID value="A0 00 00 00 18 43 4D"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="13" keyId="1"
                 keyDatas="CA CA CA CA CA CA CA CA 2D 2D 2D 2D 2D 2D 2D 2D CA CA CA CA CA CA CA CA"/>
            <key type="DES_ECB" keyVersionNumber="13" keyId="2"
                 keyDatas="2D 2D 2D 2D 2D 2D 2D 2D CA CA CA CA CA CA CA CA 2D 2D 2D 2D 2D 2D 2D 2D"/>
            <key type="DES_ECB" keyVersionNumber="13" keyId="3"
                 keyDatas="CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D"/>
        </defaultKeys>
    </card>
    <card name="GemXplore3G" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 18 43 4D FF 33 FF FF 89 00 00 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="01" keyId="1"
                 keyDatas="31 56 BB 17 B4 EE 92 96 9B 5D 20 ED 57 24 94 64 31 56 BB 17 B4 EE 92 96"/>
            <key type="DES_ECB" keyVersionNumber="01" keyId="2"
                 keyDatas="E5 98 31 E0 66 54 B5 4B 12 0C E9 FF 33 C3 86 8E E5 98 31 E0 66 54 B5 4B"/>
            <key type="DES_ECB" keyVersionNumber="01" keyId="3"
                 keyDatas="8B 34 8F F6 C4 8A 8F 20 27 3A D0 1C 84 33 DA 8C 8B 34 8F F6 C4 8A 8F 20"/>
        </defaultKeys>
    </card>
    <card name="GemCombiXpresso_Lite_R2_Std_Jcop30" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 18 43 4D 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="SCGemVisa2" keyVersionNumber="255"
                 keyDatas="47 45 4D 58 50 52 45 53 53 4F 53 41 4D 50 4C 45 47 45 4D 58 50 52 45 53"/>
        </defaultKeys>
    </card>
    <card name="JCOP21" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="02_15"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="JCOP20" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="NXP_JCOP_31V2.2_36K" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="31 56 BB 17 B4 EE 92 96 9B 5D 20 ED 57 24 94 64 31 56 BB 17 B4 EE 92 96"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="E5 98 31 E0 66 54 B5 4B 12 0C E9 FF 33 C3 86 8E E5 98 31 E0 66 54 B5 4B"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="8B 34 8F F6 C4 8A 8F 20 27 3A D0 1C 84 33 DA 8C 8B 34 8F F6 C4 8A 8F 20"/>
        </defaultKeys>
    </card>
    <card name="Gemalto_TOP_IM_GX4" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 18 43 4D"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="SCGemVisa2" keyVersionNumber="255"
                 keyDatas="47 45 4D 58 50 52 45 53 53 4F 53 41 4D 50 4C 45 47 45 4D 58 50 52 45 53"/>
        </defaultKeys>
    </card>
    <card name="GemXplore_Xpresso" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 18 43 4D"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="1" keyId="1"
                 keyDatas="31 56 BB 17 B4 EE 92 96 9B 5D 20 ED 57 24 94 64 31 56 BB 17 B4 EE 92 96"/>
            <key type="DES_ECB" keyVersionNumber="1" keyId="2"
                 keyDatas="E5 98 31 E0 66 54 B5 4B 12 0C E9 FF 33 C3 86 8E E5 98 31 E0 66 54 B5 4B"/>
            <key type="DES_ECB" keyVersionNumber="1" keyId="3"
                 keyDatas="8B 34 8F F6 C4 8A 8F 20 27 3A D0 1C 84 33 DA 8C 8B 34 8F F6 C4 8A 8F 20"/>

            <key type="DES_CBC" keyVersionNumber="2" keyId="1"
                 keyDatas="30 42 30 42 30 44 30 44 30 45 30 45 30 46 30 46"/>
            <key type="DES_CBC" keyVersionNumber="2" keyId="2"
                 keyDatas="01 23 45 67 89 AB CD EF 10 02 76 FE DC BA 01 23"/>
            <key type="DES_CBC" keyVersionNumber="2" keyId="3"
                 keyDatas="41 42 41 42 43 44 43 44 45 46 44 46 41 42 41 42"/>
        </defaultKeys>
    </card>
    <card name="Oberthur_Cosmopolic" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="Sm@rtcafe_Expert_64_V2" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="Infineon_JTOP_V2_16k" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="Oberthur_Cosmo_Dual_72k" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="Cyberflex_Palmera_V3" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="01" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="01" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="01" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="Cyberflex_Access_Augmented_Crypto" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00"/>
        <scpMode value="01_05"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="01" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="01" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="01" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="mNF1.2/SCWS" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 18 43 4D 08 09 0A 0B 0C 00 00 00"/>
        <scpMode value="02_15"/>
        <transmissionProtocol value="T=0"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="01" keyId="1"
                 keyDatas="11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11"/>
            <key type="DES_ECB" keyVersionNumber="01" keyId="2"
                 keyDatas="22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22"/>
            <key type="DES_ECB" keyVersionNumber="01" keyId="3"
                 keyDatas="33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33"/>
        </defaultKeys>
    </card>
    <card name="CardTest02_04" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="02_04"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="CardTest02_05" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="02_05"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="CardTest02_14" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="02_14"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="CardTest02_0A" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="02_0A"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="CardTest02_45" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="02_45"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="CardTest02_55" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="02_55"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="DES_ECB" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47"/>
        </defaultKeys>
    </card>
    <card name="CardTest03_65" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="03_65"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="AES" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
        </defaultKeys>
    </card>
    <card name="CardTest03_6D" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="03_6D"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="AES" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
        </defaultKeys>
    </card>
    <card name="CardTest03_05" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="03_05"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="AES" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
        </defaultKeys>
    </card>
    <card name="CardTest03_0D" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="03_0D"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="AES" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
        </defaultKeys>
    </card>
    <card name="CardTest03_2D" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="03_2D"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="AES" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
        </defaultKeys>
    </card>
    <card name="CardTest03_25" defaultImpl="fr.xlim.ssd.opal.library.commands.GP2xCommands">
        <isdAID value="A0 00 00 00 03 00 00 00"/>
        <scpMode value="03_25"/>
        <transmissionProtocol value="T=1"/>
        <defaultKeys>
            <key type="AES" keyVersionNumber="255" keyId="1"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="2"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
            <key type="DES_ECB" keyVersionNumber="255" keyId="3"
                 keyDatas="40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F"/>
        </defaultKeys>
    </card>
</cardsconfig>
