<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright or © or Copr. SSD Research Team 2011
    (XLIM Labs, University of Limoges, France).

    Contact: ssd@xlim.fr

    This software is a Java 6 library that implements Global Platform 2.x card
    specification. OPAL is able to upload and manage Java Card applet lifecycle
    on Java Card while dealing of the authentication of the user and encryption
    of the communication between the user and the card. OPAL is also able
    to manage different implementations of the specification via a pluggable
    interface.

    This software is governed by the CeCILL-C license under French law and
    abiding by the rules of distribution of free software.  You can  use,
    modify and/ or redistribute the software under the terms of the CeCILL-C
    license as circulated by CEA, CNRS and INRIA at the following URL
    "http://www.cecill.info".

    As a counterpart to the access to the source code and  rights to copy,
    modify and redistribute granted by the license, users are provided only
    with a limited warranty  and the software's author,  the holder of the
    economic rights,  and the successive licensors  have only  limited
    liability.

    In this respect, the user's attention is drawn to the risks associated
    with loading,  using,  modifying and/or developing or reproducing the
    software by the user in light of its specific status of free software,
    that may mean  that it is complicated to manipulate,  and  that  also
    therefore means  that it is reserved for developers  and  experienced
    professionals having in-depth computer knowledge. Users are therefore
    encouraged to load and test the software's suitability as regards their
    requirements in conditions enabling the security of their systems and/or
    data to be ensured and,  more generally, to use and operate it in the
    same conditions as regards security.

    The fact that you are presently reading this means that you have had
    knowledge of the CeCILL-C license and that you accept its terms.

-->

<opal:cards xmlns:opal="http://secinfo.msi.unilim.fr/opal"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://secinfo.msi.unilim.fr/opal config.xsd">

    <card>
        <name>GemXpresso211</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GemXpresso211Commands</implementation>
        <description>GemXpresso 211</description>
        <atrs>
            <atr>3B 6E 00 00 80 31 80 65 B0 03 02 01 5E 83 00 00 90 00</atr>
        </atrs>
        <isd>A0 00 00 00 18 43 4D</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>13</version>
                <id>1</id>
                <value>CA CA CA CA CA CA CA CA 2D 2D 2D 2D 2D 2D 2D 2D CA CA CA CA CA CA CA CA</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>13</version>
                <id>2</id>
                <value>2D 2D 2D 2D 2D 2D 2D 2D CA CA CA CA CA CA CA CA 2D 2D 2D 2D 2D 2D 2D 2D</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>13</version>
                <id>3</id>
                <value>CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D CA 2D</value>
            </key>
        </keys>
    </card>

    <card>
        <name>GemXplore3G</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>GemXplore3G</description>
        <atrs>
            <atr>3B 9F 95 80 1F C7 80 31 E0 73 FE 21 1B 63 E2 08 A8 83 0F 90 00 89</atr>
        </atrs>
        <isd>A0 00 00 00 18 43 4D FF 33 FF FF 89 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>1</id>
                <value>31 56 BB 17 B4 EE 92 96 9B 5D 20 ED 57 24 94 64 31 56 BB 17 B4 EE 92 96</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>2</id>
                <value>E5 98 31 E0 66 54 B5 4B 12 0C E9 FF 33 C3 86 8E E5 98 31 E0 66 54 B5 4B</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>3</id>
                <value>8B 34 8F F6 C4 8A 8F 20 27 3A D0 1C 84 33 DA 8C 8B 34 8F F6 C4 8A 8F 20</value>
            </key>
        </keys>
    </card>

    <card>
        <name>GemCombiXpresso_Lite_R2_Std_Jcop30</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>GemCombiXpresso Lite R2 Std Jcop30</description>
        <atrs>
            <atr>3B 6D 00 00 80 31 80 65 B0 07 02 02 89 83 00 90 00</atr>
            <atr>3B 0F 11 38 77 B1 80 31 80 65 B0 07 02 02 89 83 00</atr>
            <!-- NFC version -->
        </atrs>
        <isd>A0 00 00 00 18 43 4D 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>SCGemVisa2</type>
                <version>255</version>
                <value>47 45 4D 58 50 52 45 53 53 4F 53 41 4D 50 4C 45 47 45 4D 58 50 52 45 53</value>
            </key>
        </keys>
    </card>

    <card>
        <name>JCOP21</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Jcop 21</description>
        <atrs>
            <atr>3B FA 13 00 00 81 31 FE 45 4A 43 4F 50 32 31 56 32 33 31 91</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>02_15</scp>
        <tp>T=1</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>JCOP20</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>JCOP 20</description>
        <atrs>
            <atr>3B 69 00 FF 00 64 4A 10 04 32 05 90 00</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=1</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>NXP_JCOP_31V2.2_36K</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>NXP JCOP 31V2.2 36K</description>
        <atrs>
            <atr>3B EB 00 00 81 31 20 45 4A 43 4F 50 33 31 33 36 47 44 54 78</atr>
            <atr>3B 0A 0A 38 77 B1 4A 43 4F 50 33 30</atr>
            <!-- NFC version -->
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>31 56 BB 17 B4 EE 92 96 9B 5D 20 ED 57 24 94 64 31 56 BB 17 B4 EE 92 96</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>E5 98 31 E0 66 54 B5 4B 12 0C E9 FF 33 C3 86 8E E5 98 31 E0 66 54 B5 4B</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>8B 34 8F F6 C4 8A 8F 20 27 3A D0 1C 84 33 DA 8C 8B 34 8F F6 C4 8A 8F 20</value>
            </key>
        </keys>
    </card>

    <card>
        <name>Gemalto_TOP_IM_GX4</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Gemalto TOP IM GX4</description>
        <atrs>
            <atr>3B 7D 96 00 00 80 31 80 65 B0 83 11 D0 A9 83 00 90 00</atr>
        </atrs>
        <isd>A0 00 00 00 18 43 4D 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>SCGemVisa2</type>
                <version>255</version>
                <value>47 45 4D 58 50 52 45 53 53 4F 53 41 4D 50 4C 45 47 45 4D 58 50 52 45 53</value>
            </key>
        </keys>
    </card>

    <card>
        <name>GemXplore_Xpresso</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>GemXplore Xpresso</description>
        <atrs>
            <atr>3B 3F 94 00 80 65 AF 03 12 01 6F 73 32 21 1B 83 0F 90 00</atr>
        </atrs>
        <isd>A0 00 00 00 18 43 4D</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>1</version>
                <id>1</id>
                <value>31 56 BB 17 B4 EE 92 96 9B 5D 20 ED 57 24 94 64 31 56 BB 17 B4 EE 92 96</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>1</version>
                <id>2</id>
                <value>E5 98 31 E0 66 54 B5 4B 12 0C E9 FF 33 C3 86 8E E5 98 31 E0 66 54 B5 4B</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>1</version>
                <id>3</id>
                <value>8B 34 8F F6 C4 8A 8F 20 27 3A D0 1C 84 33 DA 8C 8B 34 8F F6 C4 8A 8F 20</value>
            </key>

            <key>
                <type>DES_CBC</type>
                <version>2</version>
                <id>1</id>
                <value>30 42 30 42 30 44 30 44 30 45 30 45 30 46 30 46</value>
            </key>
            <key>
                <type>DES_CBC</type>
                <version>2</version>
                <id>2</id>
                <value>01 23 45 67 89 AB CD EF 10 02 76 FE DC BA 01 23</value>
            </key>
            <key>
                <type>DES_CBC</type>
                <version>2</version>
                <id>3</id>
                <value>41 42 41 42 43 44 43 44 45 46 44 46 41 42 41 42</value>
            </key>
        </keys>
    </card>

    <card>
        <name>Oberthur_Cosmopolic</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Oberthur Cosmopolic</description>
        <atrs>
            <atr>3B 7B 18 00 00 00 31 C0 64 77 E3 03 00 84 90 00</atr>
            <atr>3B 7D 11 00 00 00 31 80 71 8E 64 52 D9 34 00 82 90 00</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>Sm@rtcafe_Expert_64_V2</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Sm@rtcafe Expert 64 V2</description>
        <atrs>
            <atr>3B FD 18 00 FF 80 B1 FE 45 1F 07 80 73 00 21 13 57 4A 54 48 61 31 48 00 50</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>Infineon_JTOP_V2_16k</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Infineon JTOP V2 16k</description>
        <atrs>
            <atr>3B 6D 00 00 80 31 80 65 40 90 86 01 51 83 07 90 00</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>Oberthur_Cosmo_Dual_72k</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Oberthur Cosmo Dual 72k</description>
        <atrs>
            <atr>3B 0F 10 78 B3 C0 02 00 31 C0 64 77 E3 03 00 82 90</atr>
            <atr>3B 7B 18 00 00 00 31 C0 64 77 E3 03 00 82 90 00</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>Cyberflex_Palmera_V3</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Cyberflex Palmera V3</description>
        <atrs>
            <atr>3B 65 00 00 44 04 01 08 03</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>Cyberflex_Access_Augmented_Crypto</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Schlumberger Cyberflex Access Augmented Crypto</description>
        <atrs>
            <atr>3B 16 94 81 10 06 01 81 2F</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>mNF1.2/SCWS</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Gemalto mNF1.2 with Smart Card WebServer</description>
        <atrs>
            <atr>3B 9F 96 C0 0A 3F C7 A0 80 31 E0 73 FE 21 1B 63 F1 00 E8 83 00 90 00 14</atr>
        </atrs>
        <isd>A0 00 00 00 18 43 4D 08 09 0A 0B 0C 00 00 00</isd>
        <scp>02_15</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>3</version>
                <id>1</id>
                <value>11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>3</version>
                <id>2</id>
                <value>22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>3</version>
                <id>3</id>
                <value>33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33</value>
            </key>
        </keys>
    </card>

    <card>
        <name>JCOP31_72B1_V2.2</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Smartcard Dual Interface JCOP31 with 72KB EEPROM and V2.2 Java Card Open Platform</description>
        <atrs>
            <atr>3B F9 18 00 00 81 31 FE 45 4A 43 4F 50 33 31 56 32 32 A8</atr>
            <atr>3B 8D 80 01 0D 38 33 B1 4A 43 4F 50 33 31 56 32 FF 34</atr>
            <!-- NFC Version -->
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>02_15</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>SAMSUNG_NFC_SGH-X700N</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Samsung (SGH-X700N) NFC</description>
        <atrs>
            <atr>3B 8D 80 01 0D 78 80 80 02 00 73 C8 40 00 00 90 FF EF</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>02_15</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>COSMO_16_RSA_V3.5</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Cosmo 16 RSA V3.5</description>
        <atrs>
            <atr>3B 7B 11 00 00 00 31 C0 64 7F E6 10 00 82 90 00</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>255</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

    <card>
        <name>GALITT_WADAPA</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>GALITT WADAPA</description>
        <atrs>
            <atr>3B 6D 00 00 80 31 80 65 B0 43 02 00 77 83 00 90 00</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>SCGemVisa2</type>
                <version>255</version>
                <value>47 45 4D 58 50 52 45 53 53 4F 53 41 4D 50 4C 45 47 45 4D 58 50 52 45 53</value>
            </key>
        </keys>
    </card>

    <card>
        <name>UPTEQ_350_M_NFC</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>
            Sample card provided in Gemalto Developer Suite Kit (NFC with Standardized SCWS)
            C_MAC minimum
            http://developer.gemalto.com/uploads/media/Dev_Suite_Enterprise_kit_-_Sample_Card_Data_Sheet.pdf
        </description>
        <atrs>
            <atr>3B 9F 96 C0 0A 1F C6 80 31 E0 73 FE 21 1B 65 D0 00 61 00 00 81 0F A6</atr>
        </atrs>
        <isd>A0 00 00 00 18 43 4D 08 09 0A 0B 0C 00 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>1</version>
                <id>1</id>
                <value>31 56 BB 17 B4 EE 92 96 9B 5D 20 ED 57 24 94 64 31 56 BB 17 B4 EE 92 96</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>1</version>
                <id>2</id>
                <value>E5 98 31 E0 66 54 B5 4B 12 0C E9 FF 33 C3 86 8E E5 98 31 E0 66 54 B5 4B</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>1</version>
                <id>3</id>
                <value>8B 34 8F F6 C4 8A 8F 20 27 3A D0 1C 84 33 DA 8C 8B 34 8F F6 C4 8A 8F 20</value>
            </key>

            <key>
                <type>DES_CBC</type>
                <version>2</version>
                <id>1</id>
                <value>30 42 30 42 30 44 30 44 30 45 30 45 30 46 30 46</value>
            </key>
            <key>
                <type>DES_CBC</type>
                <version>2</version>
                <id>2</id>
                <value>01 23 45 67 89 AB CD EF 10 02 76 FE DC BA 01 23</value>
            </key>
            <key>
                <type>DES_CBC</type>
                <version>2</version>
                <id>3</id>
                <value>41 42 41 42 43 44 43 44 45 46 44 46 41 42 41 42</value>
            </key>
        </keys>
    </card>

    <card>
        <name>Cyberflex_32K e-gate</name>
        <implementation>fr.xlim.ssd.opal.library.commands.GP2xCommands</implementation>
        <description>Cyberflex 32K e-gate</description>
        <atrs>
            <atr>3B 75 94 00 00 62 02 02 03 01</atr>
        </atrs>
        <isd>A0 00 00 00 03 00 00</isd>
        <scp>01_05</scp>
        <tp>T=0</tp>
        <keys>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>1</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>2</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
            <key>
                <type>DES_ECB</type>
                <version>01</version>
                <id>3</id>
                <value>40 41 42 43 44 45 46 47 48 49 4A 4B 4C 4D 4E 4F 40 41 42 43 44 45 46 47</value>
            </key>
        </keys>
    </card>

</opal:cards>
